.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 0;
}

.logo{
    font-size:30px;
    font-weight:700;
    letter-spacing:-1px;
}

.nav-links{
    display:flex;
    gap:60px;
}

.nav-links a{
    color:#7a7a7a;
    transition:.3s;
}

.nav-links a:hover{
    color:white;
}

.launch-btn{
    background:white;
    color:black;
    padding:15px 28px;
    border-radius:999px;
    font-weight:600;
}